__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
.vscode/
.idea/

*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz

dataset/
*.zip
*.tar
*.tar.gz

tmp/
tmp_pdf_check/
main_pdf_pages/
response_letter/
notes/
mypaper/

